/* main text color #757575; */
/* title text color #212121; */
/* primary white color #ffffff; */
/* accent color #2196F3; */

:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --primary-white-color: #ffffff;
    --accent-color: #2196F3;
}
body {
    color: var(--main-text-color)
}
/* Header */
.logo-name-one {
    color: var(--accent-color);
}
.logo-name-two {
    color: #000000;
}
.nav-list-item {
    color: var(--title-text-color);
}
.nav-list-item:hover, .nav-list-item:focus {
    color: var(--accent-color);
}
.nav-list-item.current {
    color: var(--accent-color)
}
.contacts-item {
    color: var(--main-text-color);
}
.contacts-item:hover, .contacts-item:focus {
    color: var(--accent-color);
}
.contacts-item.current {
    color: var(--accent-color);
}
/* Hero */
.hero-title {
    color: var(--primary-white-color);
}
.button-hero {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
/* Why us */
.hts, .htp {
    color: var(--title-text-color);
}
.hts-list-item-name {
    color: var(--title-text-color)
}