/* main text color #757575; */
/* title text color #212121; */
/* primary white color #ffffff; */
/* accent color #2196F3; */

:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --primary-white-color: #ffffff;
    --accent-color: #2196F3;
    --temporary-bgc: #2F303A;
}
body {
    color: var(--main-text-color)
}
/* Header */
.logo-name-one {
    color: var(--accent-color);
}
.logo-name-two {
    color: #000000;
}
.nav-list-item {
    color: var(--title-text-color);
}
.nav-list-item:hover, .nav-list-item:focus {
    color: var(--accent-color);
}
.nav-list-item.current {
    color: var(--accent-color)
}
.contacts-item {
    color: var(--main-text-color);
}
.contacts-item:hover, .contacts-item:focus {
    color: var(--accent-color);
}
.contacts-item.current {
    color: var(--accent-color);
}
/* Hero, bgc temporary */
.hero {
    background-color: var(--temporary-bgc);
}
.hero-title {
    color: var(--primary-white-color);
}
.hero-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.hero-button:hover, .hero-button:focus {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}
/* Why us */
.hts, .htp {
    color: var(--title-text-color);
}
.hts-list-item-name {
    color: var(--title-text-color)
}
/* What we do */
/* Our team */
.hts-employee {
    color: var(--title-text-color)
}
/* Footer */
.footer {
    background-color: var(--temporary-bgc);
}
.footer .logo-name-two {
    color: var(--primary-white-color);
}
.google-maps-address:hover, .google-maps-address:focus, .virtual-address-link:hover, .virtual-address-link:focus  {
    color: var(--accent-color);
}
.google-maps-address {
    color: var(--primary-white-color);
}
.virtual-address-link {
    color: rgba(255, 255, 255, 0.6);
}
/* Examples of our works */
.portfolio-button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
}
.portfolio-button:hover, .portfolio-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.portfolio-button.current {
    color: var(--primary-white-color);
    background-color: var(--accent-color); 
}